*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
    background-color: beige;
}

.heading{
    color: slateblue;
    height: 100px;
    padding: 4%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.buttons{
    display:block;
    justify-content:space-between;    
}

.btn{
    width: 220px;
    height: 280px;
    margin: 30px;
    padding: 10px;
    border-radius: 12%;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover:focus {
    outline: none;
    }

.btn:hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

